.base-timer {
    position: relative;
    width: 100px;
    height: 100px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 1px;
    stroke: grey;
}

.base-timer__path-remaining {
    stroke-width: 5px;
    stroke-linecap: square;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: #FE8506;
}

.base-timer__path-completed {
    stroke-width: 1px;
    stroke: none;
}

.timer-text {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.base-timer__unit-label {
    font-size: 11px;
    line-height: 11px;
    font-family: GothamBook;
    text-transform: uppercase;
}

.timer__unit {
    font-family: GothamBold;
    font-size: 28px;
    line-height: 28px;
    font-weight: 900;
}

@media only screen and (min-width: 350px) and (max-width: 459.88px) {
    .base-timer {
        width: 80px;
        height: 80px;
    }

    .base-timer__unit-label {
        font-size: 10px;
        line-height: 10px;
    }
    
    .timer__unit {
        font-size: 22px;
        line-height: 22px;
    }
}

@media only screen and (max-width: 349.88px) {
    .base-timer {
        width: 75px;
        height: 75px;
    }

    .base-timer__unit-label {
        font-size: 8px;
        line-height: 8px;
    }
    
    .timer__unit {
        font-size: 20px;
        line-height: 20px;
    }
}